apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: trivy-operator
  namespace: argocd     
spec:
  project: core-tools
  source:
    repoURL: harbor.guiadodevops.com
    targetRevision: 0.29.3
    chart: infra/trivy-operator
    helm:
      values: |-
        operator:
          metrics:
            enabled: true
        service:
          metricsPort: 8080
        prometheus:
          serviceMonitor:
            enabled: true
            namespace: monitoring
            interval: 30s
            labels:
              release: prometheus
          rules:
            enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: security
  syncPolicy:
    automated:
      prune: true
      allowEmpty: true 
      selfHeal: true
## test git local

